@use "./config" as *;

.container {
  position: relative;
  width: min(100%, 500px);

  @include desktop {
    width: 1294px;
    height: 700px;
    padding-bottom: 1.313em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
