@use '../_config' as *;

.testimonials {
  padding: .85em .9em 1.44em .9em;
  background: url("../../images/pattern-quotes.svg") center top no-repeat;
  background-size: 62px;
  text-align: center;

  &__body {
    font-size: clamp(0.563rem, calc(0.563rem + ((1vw - 0.112rem) * 1.2175)), 0.9745rem);
    line-height: 1.32;
  }
  &__name {
    font-size: clamp(0.47rem, calc(0.47rem + ((1vw - 0.112rem) * 0.4438)), 0.62rem);
    margin-bottom: .2em;
  }
  &__role {
    font-size: clamp(0.47rem, calc(0.47rem + ((1vw - 0.112rem) * 0.3254)), 0.58rem);
  }

  @include desktop {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 53%;
    background-size: 8.4vw;
    background-position-x: 94px;
    padding: 5.5% 0 0 0;
    text-align: left;

    &__body {
      line-height: 1.4;
    }
    &__name {
      margin-bottom: 0;
      margin-right: .5em;
    }
  }
}

.persona {
  width: 100%;
  
  @include desktop {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 1.2em 0;
  }
}

