:root {
  font-size: 32px;
  --text: hsl(240, 38%, 20%);
  --role: hsl(240, 18%, 77%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p, h2 {
  color: var(--text);
}

h3 {
  color: var(--role);
}

button {
  all: unset;
}

.container {
  position: relative;
  width: min(100%, 500px);
}
@media (min-width: 1024px) {
  .container {
    width: min(1200px, 83.3%);
    margin-left: 6.5vw;
    padding-bottom: 1.313em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.testimonials {
  padding: 0.85em 0.9em 0.85em 0.9em;
  background: url("../../images/pattern-quotes.svg") center top no-repeat;
  background-size: 62px;
  text-align: center;
}
.testimonials__body {
  font-size: clamp(0.563rem, 0.563rem + (1vw - 0.112rem) * 1.2175, 0.9745rem);
  line-height: 1.32;
}
.testimonials__name {
  font-size: clamp(0.47rem, 0.47rem + (1vw - 0.112rem) * 0.4438, 0.62rem);
  margin-bottom: 0.2em;
}
.testimonials__role {
  font-size: clamp(0.47rem, 0.47rem + (1vw - 0.112rem) * 0.3254, 0.58rem);
}
@media (min-width: 1024px) {
  .testimonials {
    position: absolute;
    top: 48%;
    left: 0;
    transform: translateY(-50%);
    width: 53%;
    background-size: 8.4vw;
    background-position-x: 94px;
    padding: 5.5% 0 0 0;
    text-align: left;
  }
  .testimonials__body {
    line-height: 1.4;
  }
  .testimonials__name {
    margin-bottom: 0;
    margin-right: 0.5em;
  }
}

.persona {
  margin-block: 0.6em 1.44em;
}
@media (min-width: 1024px) {
  .persona {
    display: flex;
    margin-block: 1.2em 0;
  }
}

.switch {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
}
.switch__btn {
  width: 40px;
  height: 40px;
}
.switch__btn--left {
  background: url("../../images/icon-prev.svg") center no-repeat, #fff;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-size: 28%;
}
.switch__btn--rigth {
  background: url("../../images/icon-next.svg") center no-repeat, #fff;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-size: 28%;
}
@media (min-width: 1024px) {
  .switch {
    left: 26%;
    bottom: 8%;
    transform: translateX(-50%);
  }
  .switch__btn {
    width: 56px;
    height: 56px;
  }
}

.photography {
  position: relative;
  padding: 0.67em 0.79em;
}
.photography__photo {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 30px 40px -24px rgba(38, 32, 70, 0.5);
}
@media (min-width: 1024px) {
  .photography {
    width: 58%;
    height: min(700px, 87.5vh);
    padding-inline: 0;
  }
  .photography__photo {
    width: min(540px, 60%);
  }
}

.photo-container {
  width: 100%;
  padding: 0.85em 1.05em 0.85em 1.05em;
  background: url("../../images/pattern-bg.svg") no-repeat;
  background-size: contain;
}
@media (min-width: 1024px) {
  .photo-container {
    background-position: center;
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;
    padding-right: 1.75vw;
  }
}

/*# sourceMappingURL=style.css.map */
