@use '../config' as *;

.switch {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;

  &__btn {
    width: 40px;
    height: 40px;
    
    &--left {
      background: url("../../images/icon-prev.svg") center no-repeat, #fff;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      background-size: 28%;
    }
    &--rigth {
      background: url("../../images/icon-next.svg") center no-repeat, #fff;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      background-size: 28%;
    }
  }

  @include desktop {
    left: 26%;
    bottom: 8%;
    transform: translateX(-50%);
    
    &__btn {
      width: 56px;
      height: 56px;
    }
  }
}








